<a href="https://colab.research.google.com/github/AaronRowenGaspar/OOP2-CPE009B-CPE21S1/blob/main/Exercise_1_OOP2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

VARIABLES AND DATA TYPES

 Number

In [ ]:
varnum = 123
pi = 3.14159

Tuples

In [ ]:
varTuples = 'abc', 123, 'HELLO'

Strings

In [ ]:
varString = "HEllo World!"
varTExt = 'thisd is a String'

Dictionaries

In [ ]:
var = 3
varDict = ('first':1, '2':'2nd', 3:var)

Lists

In [ ]:
varList = ["abc", 123]

ARITHMETIC

Addition

In [28]:
a = 5 + 3

Substraction

In [26]:
a = 5 - 3

Multiplication

In [25]:
a = 5 * 3

Division

Exponet

In [24]:
a = 5 ** 3

Increment/Decrement

In [23]:
a = 5
a += 1

In [21]:
a = 5
a -= 1

String Concatenation

In [37]:
a = 'Hello' + "World!"
print(a)

HelloWorld!

Complex Expressions

In [36]:
a = 3 + 5 - 6 * 2 / 4
print (a)

5.0

CONDITIONAL STATEMENTS

Boolean Condition

In [20]:
x = True
if x:
  print("var x is True")
else:
  print("var x is False")

var x is True

String Conditions

In [18]:
x = "Hello World!"
if x == "Hello World!" :
  print("var x is Hello World!")
else:
  print("var x is not Hello World!")

var x is Hello World!

Numerical Conditions

In [17]:
x = 10
if x == '10':
  print("var x is a String")
elif x == 10:
  print("var x is an Integer")
else:
  print("var is none of the above")

var x is an Integer

LOOPS

For Loops

In [12]:
for var in range(0, 5, 2):
  print(var)

0
2
4

While Loops

In [11]:
var = 0
while var < 5:
  print(var)
  var += 2

0
2
4

Nested Loops

In [10]:
x = 0
while x < 5:
  for y in range(0, x):
    print(y, end='')
  x += 1
  print()

0
01
012
0123

LISTS

In [6]:
pi = 3.14159
varList = [1, 2, 'A', 'B', 'Hello!', pi]
print(varList[0])

1

In [5]:
pi = 3.14159
varList = [1, 2, 'A', 'B', 'Hello!', pi]
print(varList[4])

Hello!

In [7]:
pi = 3.14159
varList = [1, 2, 'A', 'B', 'Hello!', pi]
varList.append('Wolrd!')
print(varList[6])

Wolrd!

In [8]:
pi = 3.14159
varList = [1, 2, 'A', 'B', 'Hello!', pi, 'World!']
print(varList[5])

3.14159

In [9]:
pi = 3.14159
varList = [1, 2, 'A', 'B', 'Hello!', pi, 'World!']
varList.remove(pi)
print(varList[5])

World!

DICTIONARIES

In [30]:
var = "Hello World!"
varDict = {'first' : 123, 2:'abc', '3':var, 4:['lista','listb']}
print(varDict['first'])

123

LISTS GENERATORS AND COMPREHENSION

In [38]:
def gen_num_up_to(n):
  num = 0
  while num < n:
    yield num
    num += 1

gen_num_up_to(5)

varList = gen_num_up_to(5)
print(var for var in varList)

<generator object <genexpr> at 0x7bac8066eb90>

  SLICING

In [ ]:
varList = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(varList[:5])

In [ ]:
varList = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(varList[5:])

In [ ]:
varList = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(varList[:-2])

In [ ]:
varList = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(varList[-2:])

In [ ]:
varList = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(varList[2:-2])

In [ ]:
varList = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(varList[2:8:2])

FUNCTIONS

In [35]:
def remainder(n, m):
  while True:
    if n - m < 0:
      return n
    else:
      n = n - m

remainder(10,4)

2